#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
  gap: 2rem;
  text-align: center;
}

.container {
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.87);
  border: solid 1px #f2f2f2;
  border-radius: 1em;
}

.container.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
}

.scorecard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.container.card-area {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fit, 200px);
  gap: 1.5em;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 900px) {
  .container.title {
    flex-direction: column;
  }
}
